@font-face
  font-family: "PFBagueSansPro"
  src: url("./fonts/PFBagueSansPro.woff")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "PFBagueSansPro"
  src: url("./fonts/PFBagueSansPro-Bold.woff")
  font-style: normal
  font-weight: bold

@font-face
  font-family: "Spectral"
  src: url("./fonts/Spectral-Regular.woff")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "Spectral"
  src: url("./fonts/Spectral-Italic.woff")
  font-style: italic
  font-weight: normal

@font-face
  font-family: Akrobat
  src: url("./fonts/Akrobat-Bold.eot")
  src: url("./fonts/Akrobat-Bold.eot?#iefix") format("embedded-opentype"),
  url("./fonts/Akrobat-Bold.woff") format("woff"),
  url("./fonts/Akrobat-Bold.ttf") format("truetype")
  font-weight: normal
  font-style: normal
  font-weight: 700

@font-face
  font-family: Akrobat
  src: url("./fonts/Akrobat-SemiBold.eot")
  src: url("./fonts/Akrobat-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("./fonts/Akrobat-SemiBold.woff") format("woff"),
  url("./fonts/Akrobat-SemiBold.ttf") format("truetype")
  font-weight: normal
  font-style: normal
  font-weight: 600

body
  margin: 0
  padding: 0
  font: 16px "PFBagueSansPro", sans-serif
  color: #252525
  //background-color: #fafafa
  line-height: 1.5
  background: #d2d2d2
  min-width: 320px
  width: 100%
  a
    text-decoration: none!important